
div {
    box-sizing: border-box;
}
.field {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: 5px solid blue;
    width: 610px;
    border-radius: 10px;
}

.cell {
    align-items: center;
    border: 2px solid gray;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
}

.winner-message {
    font-size: 50px;
    font-weight: bold;
}
.choose {
    margin: 10px;
    border: 5px solid blue;
    width: 310px;
    border-radius: 10px;
}
.x-o {
    width: 140px;
    height: 140px;
}