body {
    font-family: 'Ubuntu', sans-serif;
}
h1, p {
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    color: #404040;
}

p a {
    text-decoration: none;
    color: #f1c40f;
}

.random-section p {
    padding-top: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}
#content {

}

.bingotable {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    background: white;
}

th, td {
    margin: 0 auto;
    text-align: center;
    border: 3px solid #404040;
    width: 20%;
}

.orange {
    background: #eea236;
    color: #fff;
}

.random-number {
    margin: 0 auto;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.numbers-section {
    width: 40%;
    border: 2px solid #404040;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    opacity: 0;
}
.numbers-section h5 {
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    display: inline-block;
    width: 25px;
    margin: 10px auto;
    font-weight: 300;
    color: #404040;
}
.numbers-section p {
    width: 100%;
    text-align: center;
    padding: 0;
}
.numbers-section .win {
    width: 100%;
    padding-left: 5px;
}

.winners-section {
    width: 40%;
    border: 2px solid #404040;
    border-radius: 3px;
    justify-content: center;
    opacity: 0;
}
.winners-section h4 {
    font-weight: 300;
    color: #404040;
    text-align: center;
}

.selected {
    transition: 1s;
    background: #d9534f;
    color: #fff;
}

.entry {
    margin-bottom: 10px;
}

.btn {
    min-width: 120px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    outline:none;
}
.btn-create {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-create:hover, .btn-create:active {
    background-color: #286090;
    border-color: #204d74;
}

.btn-remove {
    background-color: #d9534f;
    border-color: #d43f3a;
    opacity: 0;
}
.btn-remove:hover, .btn-remove:active {
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-stop {
    background-color: #ec971f;
    border-color: #d58512;
    opacity: 0;
}
.btn-stop:hover, .btn-stop:active {
    background-color: #d58512;
    border-color: #985f0d;
}

.btn-start {
    background-color: #5cb85c;
    border-color: #4cae4c;
    opacity: 0;
}
.btn-start:hover, .btn-start:active {
    background-color: #398439;
    border-color: #255625;
}

.page-view {
    color: #404040;
    transition : all .4s;
    text-align: center;
}

.hidden {
    opacity:0;
    transition : all .5s;
}

.visible {
    opacity:1;
    transition : all .4s;
}

