/* main styles */
.container {
    margin: -10px 100px -10px 100px;
    padding: 20px 0;
    background-color: #ffc;
    background-attachment: fixed;
    border: 1px solid greenyellow;
}
.row {
     display: flex;
     justify-content: space-around;
     margin: 0 50px;
}
h1, h2, h3, h4 {
    color: #808080;
}
h2 {
    text-align: center;
    text-transform: uppercase;
}
p {
    color: #a0a0a0;
}

/* user info */
.container .row .user-img {
    margin-right: 15px;
}
.container .row .col, .row .user-info {
    float: left;
}
.container .row .col .avatar {
    border: 5px solid #808080;
    border-radius: 50%;
}

.row .col .phone:before, .row .col .address:before, .row .col .email:before {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    background-size: 100%;
}
.row .col .phone:before {
    background-image: url("images/telephone.png");
    top: 30px;
    left: 400px;
}
.row .col .address:before {
    background-image: url("images/email.png");
    top: 30px;
    left: 500px;
}
.row .col .email:before {
    background-image: url("images/at.png");
    top: 30px;
    left: 600px;
}

/* personal skills block */
.container .row .col .skills, .container .row .col .lang {
     margin-bottom: -40px;
     color: #a0a0a0;
}

/* horizontal line */
.hr {
    border-top: 2px solid #808080;
    width: 90%;
    margin: 0 auto;
}

/* interests block */
.container .row .col .interests {
    width: 200px;
    padding: 20px;
    border: 4px double darkgray;
    text-transform: uppercase;
    text-align: center;
}

/* contact block */
.contact {
    display: flex;
    justify-content: center;
    width: 50%;
}
.contact input {
    min-height: 20px;
}
.contact .textarea {
    min-height: 200px;
}
.contact input, .contact .textarea {
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
}

/*.container .contact {*/
     /*width: 20%;*/
     /*margin: auto;*/
     /*display: flex;*/
     /*flex-wrap: wrap;*/
     /*justify-content: center;*/
/*}*/

/*.container .contact input, textarea {*/
     /*width: 250px;*/
     /*border-radius: 5px;*/
     /*margin: 5px;*/
/*}*/

/*.contact input, textarea:focus {*/
     /*outline: none;*/
/*}*/

/* progress bar styles*/
.container .row .col progress {
     width: 300px;
     height: 14px;
     margin: 50px auto;
     -webkit-appearance: none;
}

.container .row .col progress::-webkit-progress-value {
    background-image:
            -webkit-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -webkit-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -webkit-linear-gradient( left, #09c, #f44);
     border-radius: 1px;
     background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* for Firefox */
.container .row .col progress::-moz-progress-bar {
    background-image:
            -moz-linear-gradient( 135deg,
            transparent,
            transparent 33%,
            rgba(0,0,0,.1) 33%,
            rgba(0,0,0,.1) 66%,
            transparent 66%),
            -moz-linear-gradient( top,
            rgba(255, 255, 255, .25),
            rgba(0,0,0,.2)),
            -moz-linear-gradient( left, #09c, #f44);
    border-radius: 1px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

