.field {
    display: flex;
    flex-wrap: wrap;
    width: 606px;
    height: 606px;
}

.cell {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
}
/*.cell:hover {*/
    /*background-color: #404040;*/
    /*cursor: pointer;*/
/*}*/

.choose {
    position: absolute;
    width: 200px;
    right: 30px;
    top: 120px;
    border: 2px solid red;
}

.x {
    /*margin-left: 25px;*/
    /*margin-top: 20px;*/
    /*width: 150px;*/
    /*height: 160px;*/
    height: 200px;
}

.o {
    height: 200px;
    /*margin-left: 25px;*/
    /*margin-top: 20px;*/
    /*width: 150px;*/
    /*height: 160px;*/
}
h1 {
    color: #337ab7;
}
button{
    flex: 1 0 50%;
    height: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #337ab7;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.winner-message {
    font-size: 50px;
    font-weight: bold;
}

/*.cell.x:after {*/
    /*content: '✕';*/
    /*color: green;*/
    /*font-size: 140px;*/
    /*position: absolute;*/
    /*width: 194px;*/
    /*height: 194px;*/
    /*line-height: 194px;*/
    /*text-align: center;*/
/*}*/

/*.cell.o:after {*/
    /*font-weight: bold;*/
    /*color: red;*/
    /*content: '◯';*/
    /*font-size: 140px;*/
    /*position: absolute;*/
    /*width: 194px;*/
    /*height: 194px;*/
    /*line-height: 200px;*/
    /*text-align: center;*/
/*}*/






/*div {*/
    /*box-sizing: border-box;*/
/*}*/
/*.field {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*margin: 10px;*/
    /*border: 5px solid blue;*/
    /*width: 610px;*/
    /*border-radius: 10px;*/
/*}*/

/*.cell {*/
    /*display: inline-block;*/
    /*border: 2px solid gray;*/
    /*width: 200px;*/
    /*height: 200px;*/
/*}*/
/*.cell.x:after {*/
    /*content: '✕';*/
    /*color: green;*/
    /*font-size: 140px;*/
    /*position: absolute;*/
    /*width: 194px;*/
    /*height: 194px;*/
    /*line-height: 194px;*/
    /*text-align: center;*/
/*}*/

/*.cell.o:after {*/
    /*font-weight: bold;*/
    /*color: red;*/
    /*content: '◯';*/
    /*font-size: 140px;*/
    /*position: absolute;*/
    /*width: 194px;*/
    /*height: 194px;*/
    /*line-height: 200px;*/
    /*text-align: center;*/
/*}*/


/*.winner-message {*/
    /*font-size: 50px;*/
    /*font-weight: bold;*/
/*}*/
/*.choose {*/
    /*margin: 10px;*/
    /*border: 5px solid blue;*/
    /*width: 310px;*/
    /*border-radius: 10px;*/
    /*float: left;*/
/*}*/
/*.x-o {*/
    /*width: 140px;*/
    /*height: 140px;*/
/*}*/