
div {
    box-sizing: border-box;
}
.field {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: 5px solid blue;
    width: 610px;
    border-radius: 10px;
}

.cell {
    /*display: inline-block;*/
    border: 2px solid gray;
    width: 200px;
    height: 200px;
}
.cell.x:after {
    content: '✕';
    color: green;
    font-size: 140px;
    position: absolute;
    width: 194px;
    height: 194px;
    line-height: 194px;
    text-align: center;
}

.cell.o:after {
    font-weight: bold;
    color: red;
    content: '◯';
    font-size: 140px;
    position: absolute;
    width: 194px;
    height: 194px;
    line-height: 200px;
    text-align: center;
}


.winner-message {
    font-size: 50px;
    font-weight: bold;
}
.choose {
    margin: 10px;
    border: 5px solid blue;
    width: 310px;
    border-radius: 10px;
    float: left;
}
.x-o {
    width: 140px;
    height: 140px;
}